:host {
  display: block;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

.center {
  text-align: center;
}

.row {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E6E6E6;
}

.cntr {
  padding-left: 10px;
  width: 40px;
}

.error {
  width: 100%;
  padding-left: 10px;
  color: red;
  text-align: center;
}

.counters {
  padding-top: 10px;
  padding-bottom: 10px;
}

core-header-panel {
  height: 100%;
}
.core-header {
  height: 130px;
  line-height: 60px;
  font-size: 28px;
  padding: 0 10px;
  background-color: #303F9F;  /* 7986cb   rgb(63,81,181)
   7986cb polymer-project.org header color*/
  color: #FFF;
  transition: height 0.2s;
}
.content {
  height: 2000px;
  padding-top: 15px;
  /*padding-left: 10px;
  padding-right: 10px;*/
  // background: linear-gradient(rgb(fff, fff, fff), white);
  // background-color: white;
  background-color: #fafafa;
}

footer {
  font-size: 12px;
}

.filter {
  margin-top: -10px;
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
}

paper-radio-group.yellow paper-radio-button::shadow #ink[checked] {
  color: #FFFF00;
}

paper-radio-group.yellow paper-radio-button::shadow #onRadio {
  background-color: #FFFF00;
}

paper-radio-group.yellow paper-radio-button[checked]::shadow #offRadio {
  border-color: #FFFF00;
}

.search {
  margin-top: 10px;
      font-size: 14px;
    text-align: left;
  padding-right: 20px;
}

#search_input {
    margin-top: 10px;
    font-size: 20px;
  padding: 10px;
  min-width: 300px;
}

.titles {
  margin-left: -12px;
  font-size: 16px;
}

footer{
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
}

a:link {
  color: rgba(0,0,0,0.6);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  background-color: #E8EAF6
}

a:active {
  background-color: #C5CAE9
}
