:host {
  display: block;
  margin: 0 auto;
  overflow: auto;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

#menu_panel {
  min-width: 250px;
  height: 100%;
}

#menu_toolbar {
  background-color: #E8EAF6;
}

.page {
  background-color: #fafafa;
}

.page-toolbar {
  color: #fff;
  padding-left: 30px;
  font-size: 1.4em;
  font-weight: 100;
  line-height: 30px;
  background-color: #303F9F;
}
.page-toolbar-small {
  color: #fff;
  font-size: 0.9em;
  font-weight: 200;
  line-height: 30px;
  background-color: #303F9F;
}

#back_button {
  margin-left: -10px;
}

#repo_input {
  padding-left: 20px;
  font-size: 1.1em;
  font-weight: 200;
  width: 325px;
  margin-bottom: 10px;
}

#filter_input {
  padding-left: 20px;
}

.left-title {
  padding: 20px;
  height: 30px;
  background-color: #f5f2f0;
  border-bottom: 1px solid slategray;
}
.right-title {
  padding: 20px;
  height: 30px;
  color: slategray;
  background-color: #272822;
  border-bottom: 1px solid slategray;
}

.left {
  padding: 0;
  background-color: #f5f2f0;
}
.right {
  padding: 0;
  background-color: #272822;
}

#code5, #code8 {
  overflow: auto;
  overflow-y: hidden;
  z-index: 1;
}


.code {
  font-size: 14px;
}
.error-message {
  color: red;
  font-weight: 400;
  font-size: 18px;
}

.error {
  width: 100%;
  padding-left: 10px;
  color: red;
  text-align: left;
}

.instructions {
  font-size:0.7em;
}

footer {
  font-size: 10px;
  padding: 10px;
}

.linkLeft {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 30px;
}

.linkRight {
  font-size: 16px;
  margin-bottom: 0;
  padding: 16px;
  background-color: white;
  width: 100%;
  line-height: 30px;
}

.item {
  box-sizing: border-box;
  height: 30px;
  border-bottom: 1px solid #ddd;
  padding: 4px;
  cursor: default;
  background-color: white;
  overflow: hidden;
}

core-item {
  width: 140px;
  margin: 2px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  font-size: 12px;
  background-color: white;
}

core-item.core-selected {
  font-size: 13px;
  color: #4F7DC9;
  background-color: #E8EAF6;
}

.list-container {
  max-width: 1380px;
  margin-top: -5px;
  padding-left: 20px;
}

.list-menu {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.elements-group-title {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 0;
  font-weight: bold;
}
