body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  color: #333;
}

.left-sidebar {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.header-panel-page {

}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[drawer] {
  background-color: #fff;
  // background-color: #EEEEEE;
}

core-toolbar {
  color: #FAFAFA;
  font-weight: normal;
  background-color: rgb(63,81,181);  // 7986cb
}

core-item {
  font-size: 14px;
  border-bottom: 1px solid slategray;
}
