:host {
  display: block;
  background-color: white;
}

.center {
  text-align: center;
}

paper-header-panel {
  font-size: 24px;
  padding: 0;
  background-color: white;  // 7986cb
}

#welcome_paper_header_panel {
  // background: url(../../images/road-dirt-camp-far-west-lake.jpg) no-repeat center center fixed;
  background: url(../../images/rural-road-graphic.jpg) no-repeat center center fixed;
  background-color: white;  // 7986cb
  // background-color: #eee;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-origin: border;
}

.paper-header {
  height: 180px;
  background-color: rgb(63,81,181);
  color: #FFF;
  transition: height 0.2s;
}

paper-toolbar {
  color: #FAFAFA;
  padding-left: 50px;
  font-weight: normal;
  background-color: #303F9F;  // 7986cb   rgb(63,81,181) #303F9F
}

#welcome_toolbar {
  background-color: #303F9F // #303F9F;
}


paper-toolbar .ident {
  padding-left: 33px;
}

paper-toolbar .tall {
  padding-left: 40px;
}

#page_title {
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  // margin-top: 15px;
}

.welcome-content {
  height: 100%;
  max-width: 960px;
  padding: 50px;
  font-size: 18px;
}

#welcome_paper-material {
  padding: 16px 32px;
  margin: 16px auto;
  background: #F1F8E9;  //   E8EAF6
  font-size: 20px;
  opacity: 0.98;
}

#welcome_footer {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
    background-color: #F1F8E9; // E8EAF6 white  7986cb
}

h3 {
  border-bottom: 1px solid lightgray;

}

.sponsored {
  font-size: 16px;
  line-height: 20px;
}

// a:hover {
//   color: #FF00FF;
// }
//
// a:link {
//     text-decoration: none;
// }
//
// a:visited {
//     text-decoration: none;
// }
//
// a:hover {
//     text-decoration: underline;
// }
//
// a:active {
//     text-decoration: underline;
// }
